<div class="contenair">
    <div class="presentation">
        <h2>Fortquest c'est quoi?</h2>
        <br>
        <br>
        <p>Fortquest est un site répertoriant les différentes quêtes Fortnite et qui est mis à jour au fur et à mesure.</p>
        <br>
        <p>Des vidéos sont là pour aider si besoin.</p><br>
        <p>Je récapitule les lieux importants pour aller plus vite</p><br>
        <p>Si j'ai trouvé des astuces supplémentaires je vous les indiquerai.</p><br>
        <p>Les liens pour me retrouver sur les réseaux sont en bas de page.</p>
    </div>
    <div class="logo"><img src="assets/logo.ico" alt="logo"></div>
 
</div>
