.contenair{
   
   height: 100%;
    display: grid;
    align-items: center;
   justify-items: center;
    grid-template-columns: 2fr 1fr ;
    margin-top: 20px;
   
}

img{
    border-radius: 30px;
    height: 400px;
    box-shadow: 10px 15px 5px rgb(143, 142, 142);
    
}

.presentation{
  
    background-color: rgb(31,147,220);
    box-shadow: 10px 15px 5px rgb(143, 142, 142);
    margin-left: 5px;
    padding: 30px 20px;
    border-radius: 35px;
    
}

.presentation p{
  
    text-align: center;
    font-size: 25px;
}

.presentation h2{
    text-align: center;
    font-size: 50px;
}