h2{
text-align: center;


 }

 .contenaireConstru{
    height: 100%;
    background-image:url("../../assets/encons.jpg");
background-repeat: none;
background-attachment: fixed;
background-size: cover;
 }