<h2>Quizz</h2>

<form [formGroup]="quizzform" (ngSubmit)="onSubmit()">
  <div class="contenair">
    <mat-list>
      <ol>
        <li *ngFor="let question of questions$ | async">
          <!-- Mat-list-item pour la question -->
          <mat-list-item
            [class.good]="question.verifGood"
            [class.wrong]="question.verifWrong"
            [class.default]="result === undefined"
          >
            <h3>{{ question.text }}</h3>
          </mat-list-item>

          <!-- Groupe de boutons radio pour les réponses -->
          <mat-radio-group  [formControlName]="question.id.toString()" >
            <div class="questionContenaire">
              <mat-radio-button  [disabled]="result!== undefined"  value="1" >{{ question.rep1 }}</mat-radio-button>
              <mat-radio-button [disabled]="result!== undefined" value="2">{{ question.rep2 }}</mat-radio-button>
              <mat-radio-button [disabled]="result!== undefined" value="3">{{ question.rep3 }}</mat-radio-button>
            </div>
          
          </mat-radio-group>

          <!-- Feedback visuel -->
          <div *ngIf="question.verifGood && result!==undefined" class="feedback">
            Bonne réponse !
          </div>
          <div *ngIf="question.verifWrong && result!==undefined" class="feedback">
            Mauvaise réponse.
          </div>
        </li>
      </ol>
    </mat-list>
  </div>
  <div class="buttoncontenair" *ngIf="result === undefined">
    <button mat-raised-button type="submit">Valider</button>
    <button mat-raised-button type="reset">Annuler</button>
  </div>

  <div *ngIf="result !== undefined" class="result">
    <ng-container
      *ngIf="result === (questions$ | async)?.length; else otherResults"
    >
      <img src="assets/logo top.png" alt="Fête réussite" />
      <p>Votre score est : {{ result }} / {{ (questions$ | async)?.length }}</p>
    </ng-container>
    <ng-template #otherResults>
      <img
        [src]="result === 0 ? 'assets/logo nul.png' : 'assets/logo moyen.png'"
        [alt]="result === 0 ? 'Peut mieux faire' : 'Score moyen'"
      />
      <p>Votre score est : {{ result }} / {{ (questions$ | async)?.length }}</p>
    </ng-template>
    <button mat-raised-button type="button" (click)="resetQuiz()">
      Réessaye
    </button>
  </div>
</form>
