mat-list ol {
    list-style-type: decimal;
    justify-items: center;
    font-size: 30px;
    
  }
  
  mat-list li {
    display: list-item;
 
    margin: 10px 0 20px;
  }

  .contenair {
    display: flex;
    flex-direction: column;
    align-items: center;
  
    margin: 20px auto;
  }

  mat-radio-button{
    font-size: 45px;
  
    
  }




  h2{
    text-align: center;
    font-size: 60px;
    font-family: "Jaini Purva", serif;
  }

  h3{
    // text-align: center;
    font-size: 30px;
  }

  .buttoncontenair{
    display:flex ;
    flex-direction: row;
    justify-content:center;
    margin-top: 30px;
  
  }

.good{
  background-color: rgb(120, 252, 137);

}
.wrong{
 background-color:rgb(255, 171, 171);
}

.wrong, .good{
  border-radius: 25px;
}

.default{
  background-color:transparent;
  border-radius: 0 ;
}

button{
  margin:0 50px;
}

.result{
  margin-top:20px;
  text-align: center;
  font-family: "Jaini Purva", serif;
  font-size: 40px;
}

img{
  height:150px;
}

a{
  text-decoration: none;
}

.feedback{
  text-align: center;
  margin-top:20px;
  text-align: center;
  font-family: "Jockey One", serif;
  font-size: 30px;
 
}

.questionContenaire{
display: grid;
justify-content: center;
grid-template-rows: 1fr 1fr 1fr;
}