<div class="cardge" >

  

  <div class="title" [innerHTML]="sanitizeDate(quest.date, 'date' | removeHtmlTags)"> </div>
  <a class="video" href="{{ quest.linkytb }}"target="_blank"><img src="{{ quest.srcimg }}" atl="lol"/></a>
  <div class="description" [innerHTML]="sanitizeDate(quest.description, 'description' | removeHtmlTags)"></div>
  <div class="lieux" [innerHTML]="sanitizeDate(quest.lieux, 'lieux' | removeHtmlTags)"></div>
  <div class="tips" [innerHTML]="sanitizeDate(quest.tips, 'tips' | removeHtmlTags)"></div>
  
 


</div>
